*{
    margin: 0;
    padding: 0;
}

.menu{
    width: 100%;
    height: 15vh;
    background-color: rgba(153, 152, 152, 0.023);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.invi{
    background-color: rgb(26, 26, 41);
    color: rgb(210, 205, 205);
}
.c{
    background-color: rgb(26, 26, 41);
    color: rgb(210, 205, 205);
}
.d{
    background-color: rgb(26, 26, 41);
    color: rgb(210, 205, 205);
}

.title{
    width: 15%;
    height: auto;
    font-size: 30px;
    font-weight: 900;
    text-align: start;
    padding-left: 100px;
}

.cerca{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cerca input{
    width: 100%;
    height: 35px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
}

.list{
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.toggle{
    width: 15%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-click{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}


ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
}

li{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.corpo{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dibujo{
    width: 70%;
    height: 85vh;
}

img{
    width: 100%;
    height: auto;
}
.text{
    width: 30%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 70px;
}
.container-text{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

h2{
    width: 100%;
    font-size: 45px;
    font-weight: 900;
}
p{
    font-size: 18px;
}


.button{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.flecha{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    position:fixed;
    bottom: 100px;
    right: 53px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
.flecha:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: black;
}

.flecha:hover svg{
    fill: white;
}

    .container{
        height: 100vh;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container-image{
        width: 80%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .container-image .image1{
        width: 34%;
        height: 100%;
        background-image: url(./image/uno.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
        transition: 0.5s;
    }
    .image1:hover{
        width: 80%;
    }
    .container-image .image2{
        width: 33%;
        height: 100%;
        background-image: url(./image/due.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
        transition: 0.5s;


    }
    .image2:hover{
        width: 80%;
    }
    .container-image .image3{
        width: 33%;
        height: 100%;
        background-image: url(./image/tre.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
        transition: 0.5s;
    }
    .image3:hover{
        width: 80%;
    }


    .section2{
        height: 150vh;
    }